.wrapper {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;

	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba($color: #000, $alpha: 0.8);

	animation: show 0.3s;

	z-index: 999;
}

.closeWrapper {
	position: absolute;

	right: 50px;
	top: 50px;

	cursor: pointer;

	width: 50px;
	height: 50px;
}

.close {
	display: block;
	width: 40px;
	height: 4px;
	background-color: #fff;

	transform: rotate(45deg);

	&::after {
		content: '';
		display: block;
		width: inherit;
		height: inherit;
		background-color: inherit;

		transform: rotate(90deg);
	}
}

@keyframes show {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
