.wrapper {
	background-color: $dark-color;
	color: #fff;

	@include ui-padding(top, 6);
	@include ui-padding(bottom, 6);
}

.container {
	display: flex;
	align-items: center;
	gap: 40px;

	max-width: $main-width;
	margin: auto;
}

.controls {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
}

.navbar {
	display: flex;
	gap: 54px;

	@include ui-font(7);

	>a {
		padding: 0 8px;
	}
}

.cross {
	background-color: #d9d9d9;
	width: 28px;
	height: 6px;

	cursor: pointer;

	&::after {
		content: '';
		display: block;
		width: inherit;
		height: inherit;
		background-color: inherit;

		transform: rotate(90deg);
	}
}