.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.input {
	background-color: $input-color;
	border: none;
	border-radius: 6px;

	@include ui-font(4);

	width: 330px;

	padding: 4px 31px 4px 8px;
}

.searchIcon {
	position: absolute;
	top: 3px;
	right: 6px;

	cursor: pointer;

	width: 20px;
	height: 20px;
}


.error {
	color: rgb(217, 48, 48);
	font-weight: 600;
}