$main-width: 1820px;

// COLORS
$dark-color: #1c1c1c;
$gray-color: #383838;
$gray-soft-color: #cccccc;
$gray-date-color: #b5b5b5;

$gray-board-color: #ebebeb7d;
$gray-board-date-color: #979797;

$input-color: #eeecec;
